[Unit]
Description=run the quickest infiniband-exporter to be export each 15 sec

[Service]
ExecStart=/usr/bin/info-exporter --config /etc/info-exporter/config-15s.json
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
