[Unit]
Description=run the basic infiniband-exporter to be export each minute

[Service]
ExecStart=/usr/bin/info-exporter --config /etc/info-exporter/config-60s.json
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
