[Unit]
Description=run the basic infiniband-exporter to be export each minute

[Service]
ExecStart=/usr/bin/info-exporter --phy --link_state --asic_temp --node-name-map /etc/info-exporter/node_name_map.cfg
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
